@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Concert+One|Lato');


body {
    background-color: white;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}



div {
 
}

.shopcontainer {
    height: 3000px;
}


.redline {
    height: 5px;
    background-color: #A61C20;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yellowrectangle {
    height: 80px;
    background-color: #F2BA1A;
}

.shoptext {
    font-family: 'Concert One', cursive;
    font-size: 4rem;
    margin-right: auto;
    margin-left: auto;
    width: 130px;
}

.shopsinglecontaineroriginal {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
    background-color: pink;
}

.originalsingleimg img {
    height: 200px;
    padding-left: 61px;
    padding-top: 25px;
    float: left;
}


.dufforiginalbox {
    height: 100px;
    width: 350px;
    float: right;
    margin-top: 70px;
}

.buytextoutline {
    outline: solid 7px #A61C20;
    width: 350px;
    height: 100px;
    float: right;
}

.duffsingletext {
    font-family: 'Concert One', cursive;
    font-size: 2.5rem;
    padding-top: 20px;
    margin-left: 35px;
}

.duffsingletextoutline a {
    text-decoration: none;
    color: black;
}

.duffsingletextoutline .active {
    background-color: #F2BA1A;
    text-decoration: none; 
}

.duffsingletextoutline a:hover{
    background-color: #F2BA1A;
    text-decoration: none;
}


.shop3packcontaineroriginal {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
    background-color: yellow;
}

.original3packimg img {
    height: 130px;
    padding-top: 50px;
    padding-right: 10px;
    float: left;
    background-color: blue;
}






.shop6packcontaineroriginal {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
    background-color: blue;
}


.shoppartypackcontaineroriginal {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
    background-color: purple;
}


.shopzerosinglecontainer {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
    background-color: pink;
}

.shopzero3packcontainer {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
    background-color: yellow;
}

.shopzero6packcontainer {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
    background-color: blue;
}


.shopzeropartypackcontainer {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
    background-color: purple;
}


.bottomcontainer {
    height: 40px;
    background-color: #F2BA1A;
    width: 100%;
}

.iconcontainer {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 40px;
}

.facebookicon {
    height: 20px;
    width: 20px;
    font-size: 1.8rem;
    padding-top: 5px;
    float: left;
}

.instagramicon {
    height: 20px;
    width: 20px;
    font-size: 1.8rem;
    padding-top: 5px;
    float: left;
    padding-left: 15px;
}
