@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Concert+One|Lato');


body {
    background-color: white;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}



div {
 
}

.shoporiginalcontainer {
    height: auto;
}


.redline {
    height: 5px;
    background-color: #A61C20;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yellowrectangle {
    height: auto;
    background-color: #F2BA1A;
}

.shoptext {
    font-family: 'Concert One', cursive;
    font-size: 4rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 510px;
    text-align: center;
}

.shopsinglecontaineroriginal {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    max-width: 700px;
    margin-top: 100px;
}

.originalsingleimg img {
    height: 200px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.dufforiginalbox {
    height: 100px;
    width: 350px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding-right: 5px;
}

.buytextoutline {
    outline: solid 7px blue;
    max-width: 350px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.duffsingletext {
    font-family: 'Concert One', cursive;
    font-size: 2.5rem;
    padding-top: 20px;
    text-align: center;
}

.dufforiginalbox a {
    text-decoration: none;
    color: black;
}

.dufforiginalbox .active {
    background-color: #F2BA1A;
    text-decoration: none; 
}

.dufforiginalbox a:hover{
    background-color: #F2BA1A;
    text-decoration: none;
}

.pricebox {
    height: 20px;
    width: auto;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 175px;
}



.shop3packcontaineroriginal {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    max-width: 700px;
    margin-top: 100px;
}

.original3packimg img {
    height: 130px;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.shop6packcontaineroriginal {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 100px;
    max-width: 700px;
    margin-top: 100px;
}

.original6packimg img {
    height: 120px;
    padding-bottom: 5px;
    padding-left: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.original6packimg {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.lastdufforiginalbox {
    height: 100px;
    width: 350px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    padding-right: 5px;
}

.lastdufforiginalbox a {
    text-decoration: none;
    color: black;
}

.lastdufforiginalbox .active {
    background-color: #F2BA1A;
    text-decoration: none; 
}

.lastdufforiginalbox a:hover{
    background-color: #F2BA1A;
    text-decoration: none;
}

.backtositebutton {
    height: 25px;
    width: 125px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    outline: solid 2px #A61C20;
}

.yellowrectangle a {
    color: black;
    text-decoration: none;
}

.yellowrectangle .active {
    color: #A61C20;
    text-decoration: none;
}

.yellowrectangle a:hover {
    color: #A61C20;
    text-decoration: none;
}

.shopzerocontainer {
    height: auto;
}

.shoptextzero {
    font-family: 'Concert One', cursive;
    font-size: 4rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 415px;
    text-align: center;
}

.shopzerosinglecontainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    max-width: 700px;
    margin-top: 100px;
}

.shopzero3packcontainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    max-width: 700px;
    margin-top: 100px;
}

.shopzero6packcontainer {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
}


.shopsinglecontainerzero {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
}

.zerosingleimg img {
    height: 200px;
    padding-bottom: 5px;
    padding-left: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    
.duffzerobox {
    height: 100px;
    width: 350px;
    float: right;
    margin-top: 50px;
    padding-right: 5px;
}

.buytextoutline {
    outline: solid 7px #A61C20;
    width: 350px;
    height: 100px;
    float: right;
}

.shop3packcontainerzero {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    max-width: 700px;
    margin-top: 100px;
}

.zero3packimg img {
    height: 140px;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.shop6packcontainerzero {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 700px;
    margin-top: 100px;
}

.zero6packimg img {
    height: 140px;
    padding-bottom: 5px;
    padding-left: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.zero6packimg {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}  


.redlinebottom {
    height: 5px;
    background-color: #A61C20;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 100px;
}

.yellowcontainer {
    height: 40px;
    background-color: #F2BA1A;
    width: 100%;
}

.iconcontainer {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 40px;
}

.facebookicon {
    height: 20px;
    width: 20px;
    font-size: 1.8rem;
    padding-top: 5px;
    float: left;
}

.instagramicon {
    height: 20px;
    width: 20px;
    font-size: 1.8rem;
    padding-top: 5px;
    float: left;
    padding-left: 15px;
}
