@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Concert+One|Lato');


body {
    background-color: white;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}



div {
 
}

.navigation {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 90px;
    font-family: 'Lato', sans-serif;
}

.navigationcontent {
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.firstlinks {
    color: red;
    float: right;
    font-size: 1.4rem;
    padding-top: 50px;
}

.dufflogo {
    float: left;
    padding-top: 10px;
}

.dufflogo img {
    height: 120px;
}

.secondlinks {
    color: black;
    float: right;
    font-size: 1.4rem;
    padding-top: 50px;
}

.firstlinks a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.firstlinks .active {
    color: #DB1F26;
    text-decoration: underline #DB1F26; 
}

.firstlinks a:hover{
    color: #DB1F26;
    text-decoration: underline #DB1F26;
}

.secondlinks a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.secondlinks .active {
    color: #DB1F26;
    text-decoration: underline #DB1F26;
}

.secondlinks a:hover{
    color: #DB1F26;
    text-decoration: underline #DB1F26;
}





.bottomcontainer {
    height: 40px;
    background-color: #F2BA1A;
    width: 100%;
}

.iconcontainer {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 40px;
}

.facebookicon {
    height: 20px;
    width: 20px;
    font-size: 1.8rem;
    padding-top: 5px;
    float: left;
}

.instagramicon {
    height: 20px;
    width: 20px;
    font-size: 1.8rem;
    padding-top: 5px;
    float: left;
    padding-left: 15px;
}
