@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Concert+One|Lato');


body {
    background-color: white;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}



div {
 
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



.navigation {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 80px;
    font-family: 'Lato', sans-serif;
}

.navigationcontent {
    height: 80px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.dufflogo {
    float: left;
    padding-top: 10px;
    
}

.dufflogo img {
    max-width: 200px;
    
}

.links {
    color: black;
    font-size: 1.2rem;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.links a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.links .active {
    color: #DB1F26;
    text-decoration: underline #DB1F26;
    margin-left: auto;
    margin-right: auto;
}

.links a:hover{
    color: #DB1F26;
    text-decoration: underline #DB1F26;
}

.gallerybackground {
    width: 100%;
    background-color: white;
}

.galleryimage1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 60px;
}

.galleryimage1 img {
    
}

.galleryimage2 img {
    height: 0px;
    width: 0px;
}

.aboutcontents {
    height: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.redline {
    height: 5px;
    background-color: #A61C20;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yellowrectangle {
    height: 80px;
    background-color: #F2BA1A;
}


.abouttext {
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 340px;
    padding-top: 10px;
}

.aboutimg {
    margin-left: auto;
    margin-right: auto;
    
}

.aboutimg img {
    display: block;
    max-width: 100%;
    max-height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.abouttextbox {
    width: auto;
    height: auto;
}

.aboutslogan {
    width: auto;
    height: auto;
    padding-left: 20px;
    margin-top: 80px;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #A61C20;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.abouttextbody {
    padding-left: 20px;
    padding-top: 30px;
    width: auto;
    height: auto;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: black;
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;
}

.abouttextbody2 {
    padding-left: 20px;
    max-width: 370px;
    height: auto;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: black;
    padding-top: 10px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}


.shopcontainer {
    height: auto;
}

.shoptext {
    max-width: 100px;
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

.imgcontaineroriginal {
    height: auto;
    width: auto;
    padding-left: 0px;
    margin-top: 20px;
}

.imgcontainerzero {
    height: auto;
    width: auto;
    padding-left: 0px;
    margin-top: 20px;
}

.shopimg1 img {
    width: 100px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.shopimg2 img {
    margin-top: 75px;
    margin-bottom: -40px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.shoptextcontaineroriginal {
    max-height: 400px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

.shoptextcontainerzero {
    max-height: 400px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

.shoporiginaltextoutline {
    outline: solid 7px #A61C20;
    width: 400px;
    height: 100px;
    float: left;
    margin-bottom: 20px;
    margin-top: -20px;
}

.shoporiginaltext {
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    padding-left: 20px;
    padding-top: 20px;
}

.shoptextcontaineroriginal a {
    text-decoration: none;
    color: black;
}

.shoptextcontaineroriginal .active {
    background-color: #F2BA1A;
    text-decoration: none; 
}

.shoptextcontaineroriginal a:hover{
    background-color: #F2BA1A;
    text-decoration: none;
}

.shoptextcontainerzero a {
    text-decoration: none;
    color: black;
}

.shoptextcontainerzero .active {
    background-color: #F2BA1A;
    text-decoration: none; 
}

.shoptextcontainerzero a:hover{
    background-color: #F2BA1A;
    text-decoration: none;
}

.originalprice {
    height: 20px;
    width: 300px;
    margin-top: 120px;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
}

.shopzerotextoutline {
    outline: solid 7px #A61C20;
    width: 400px;
    height: 100px;
    float: left;
    margin-bottom: 20px;
    margin-top: 135px;
}

.shopzerotext {
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    padding-left: 50px;
    padding-top: 20px;
}

.shopzerotextoutline a {
    text-decoration: none;
    color: black;
}

.shopzerotextoutline .active {
    background-color: #F2BA1A;
    text-decoration: none; 
}

.shopzerotextoutline a:hover{
    background-color: #F2BA1A;
    text-decoration: none;
}

.zeroprice {
    height: 20px;
    width: 300px;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
}


.contactcontainer {
    height: auto;
    margin-top: 100px;
}

.contacttext {
    max-width: 160px;
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

.contactcontent {
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.fullname {
    height: auto;
}

.fullnametext {
    float: left;
    margin-left: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.fullnametextbox {
    float: left;
    height: 20px;
    width: auto;
    padding-top: 5px;
}

.email {
    height: 30px;
    margin-top: 15px;
}

.emailtext {
    float: left;
    margin-left: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.emailtextbox {
    float: left;
    height: 20px;
    width: auto;
    padding-top: 5px;
}

.phone {
    height: 30px;
    margin-top: 15px;
}

.phonetext {
    float: left;
    margin-left: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.phonetextbox {
    float: left;
    height: 20px;
    width: auto;
    padding-top: 5px;
}

.message {
    height: 30px;
    margin-top: 15px;
}

.messagetext {
    float: left;
    margin-left: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.messagetextbox {
    float: left;
    height: 20px;
    width: auto;
    padding-top: 5px;
}

.required {
    height: 20px;
    margin-top: 15px;
}

.requiredtext {
    float: right;
    margin-right: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem; 
    padding-bottom: 50px;
}


.bottomcontainer {
    height: auto;
    background-color: #F2BA1A;
    width: 100%;
}

.iconcontainer {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 40px;
}

.facebookicon {
    height: 20px;
    width: 20px;
    font-size: 2rem;
    float: left;
}

.instagramicon {
    height: 20px;
    width: 20px;
    font-size: 2rem;
    float: left;
    padding-left: 15px;
}



.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}