@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

div {
   outline: 
}

.header {
    background-color: #2D2F3B;
    color: white;
    height: 90px;
}

.nav {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: left;
    margin-top: 35px;
    font-size: 1.4rem;
    
}

.links {
    float: right;
    margin-top: 40px;
    font-size: 0.75rem;
    color: #4B4E61;
}

.links a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.links a:hover{
    color:#f06c64;
}

.salmon {
    color: #f06c64;
}

.banner {
    background-color: #f06c64;
    padding: 20px 0;
    text-align: center;
}

.active{
     color: #f06c64;
}

.banner img {
    max-width: 780px;
    width: 90%;
}

.whitebox {
    background-color: #f2f2f2;
    height: 400px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.whitebox img {
    float: left;
    height: 200px;
    padding-right: 20px;
}

.container1 img {
    float: left; 
}

.services {
    height: 110px; 
    width: 1200px;
    padding-top: 40px;
    padding-left: 40px;
    float: left;
}

.servicestext {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    color: #666d89;
    font-style: bold;
}

.servicesbody {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    font-size: 0.9rem;
    color: #666d89;
}

.textcontainer {
    font-family: 'Lato', sans-serif;
    height: 200px; 
    color: #666d89;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.custom {
    height: 80px;
    width: 300px;
}

.customtitle {
    font-size: 1.rem;
}

.custombody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.innovative {
    height: 80px;
    width: 300px;
}


.innovativetitle {
    font-size: 1.rem;
}


.innovativebody {
    font-size: 0.75rem;
    padding-top: 10px;
}


.love {
    height: 80px;
    width: 300px;
}

.lovetitle {
    font-size: 1.rem;
}

.lovebody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.responsive {
    height: 80px;
    width: 300px; 
    padding-top: 30px;  
}

.responsivetitle {
    font-size: 1.rem;
}

.responsivebody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.support {
    height: 80px;
    width: 300px;
    padding-top: 30px;
}

.supporttitle {
    font-size: 1.rem;
}

.supportbody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.feel {
    height: 80px;
    width: 300px; 
    padding-top: 30px;
}

.feeltitle {
    font-size: 1.rem;
}

.feelbody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.blackcontainer {
    height: 1050px;
    background-color: #2d303a;
    margin-left: auto;
    margin-right: auto;
}

.portfolio {
    padding-top: 40px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.portfoliotitle {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #666d89; 
    padding-left: 10px;
}

.portfoliobody {
    font-family: 'Lato', sans-serif;
    font-size: 0.85rem;
    color: #666d89; 
    padding-top: 10px;
    padding-left: 10px;
}



.blackbodyimage {
    text-align: center;
}

.blackcontainer img {
    padding-top: 50px;
    width: 1200px;
}

.blackbodyimage2 img {
    width: 400px;
}

.container1 {
    float: left;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 80px;
}

.container2 {
    float: left;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 80px;
}

.container3 {
    float: left;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 80px;
}

.textcontainer img {
    float: left;
    margin-right: auto;
    margin-left: auto;
}

.whitecontainer {
    height: 600px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-top: auto;
}

.textbox {
    height: 100px;
    padding-left: 20px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.titlebox {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    color: #666d89;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.textunderneath {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    font-size: 0.9rem;
    color: #666d89;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.imageperson1 {
    height: 400px;
}

.peopleboxes {
    font-family: 'Lato', sans-serif;
    height: 200px;
    width: 900px;
    color: #666d89;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.textunderneath img {
    padding-top: 30px;
    max-width: 920px;
}

.person1 {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 25px;
    width: 285px;
    float: left;
}

.person1title {
    font-size: 0.95rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
}

.person1body {
    font-size: 0.75rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}

.person1 img {
    padding-top: 15px;
}

.person2 {
    padding-top: 10px;
    width: 285px; 
    float: left;
    padding-right: 20px;
}

.person2title {
    font-size: 0.95rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
}

.person2body {
    font-size: 0.75rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}

.person2 img {
    padding-top: 15px;
}

.person3 {
    padding-top: 10px;
    padding-right: 20px;
}

.person3title {
    font-size: 0.95rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
}

.person3body {
    font-size: 0.75rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}

.person3 img {
    padding-top: 15px;
}

.redcontainer {
    height: 700px;
    background-color: #f06c64;
    margin-left: auto;
    margin-right: auto;
}

.quotetitle {
    padding-left: 30px;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    color: #f0d8d9;
}

.quotebody {
    font-size: 0.95rem;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    padding-left: 30px;
}

.boxes {
    width: 850px;
    float: left;
}

.redbox1 {
    height: 65px;
    width: 800px;
    padding-top: 40px;
    padding-left: 30px;
}

.redbox1text {
    font-size: 0.75rem;
    height: 30px;
    background-color: #d6564f;
    color: #e26c69;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
    padding-left: 10px;
}

.redbox2 {
    height: 65px;
    width: 800px;
    padding-top: 20px;
    padding-left: 30px;
}

.redbox2text {
    font-size: 0.75rem;
    height: 30px;
    background-color: #d6564f;
    color: #e26c69;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
    padding-left: 10px;
}

.redbox3 {
    height: 65px;
    width: 800px;
    padding-top: 20px;
    padding-left: 30px;
}

.redbox3text {
    font-size: 0.75rem;
    height: 30px;
    background-color: #d6564f;
    color: #e26c69;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
    padding-left: 10px;
}

.redbox4 {
    height: 230px;
    width: 800px;
    padding-top: 20px;
    padding-left: 30px;
}

.redbox4text {
    font-size: 0.75rem;
    height: 200px;
    background-color: #d6564f;
    color: #e26c69;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
    padding-left: 10px;
}

.contactinfobox {
    height: 300px;
    width: 450px;
    float: left;
}

.contactinfotitle {
    padding-left: 30px;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 0.95rem;
    color: #f0d8d9;
}

.contactinfobody {
    font-size: 0.75rem;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    padding-left: 30px;
    width: 500px;
}

.contactinfobox img {
    padding-top: 20px;
    padding-left: 30px;
}