@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

div {
    outline: 1px solid lime;
}

.header {
    background-color: #2D2F3B;
    color: white;
    height: 90px;
}

.nav {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: left;
    margin-top: 35px;
    font-size: 1.4rem;
    
}

.links {
    float: right;
    margin-top: 40px;
    font-size: 0.75rem;
    color: #4B4E61;
}

.links a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.links a:hover{
    color:#f06c64;
}

.salmon {
    color: #f06c64;
}

.banner {
    background-color: #f06c64;
    padding: 20px 0;
    text-align: center;

}
.active{
     color: #f06c64;
}

.banner img {
    max-width: 780px;
    width: 90%;
}

.whitebox {
    background-color: #f2f2f2
    height: 500px;
}

.services {
    height: 110px; 
    padding-top: 40px;
    padding-left: 40px;
    
}

.servicestext {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    color: #666d89;
    font-style: bold;
}

.servicesbody {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    font-size: 0.9rem;
    color: #666d89;
}

.textcontainer {
    font-family: 'Lato', sans-serif;
    height: 200px; 
    color: #666d89;
    padding-left: 40px;
}

.custom {
    height: 80px;
    width: 220px;
    margin-left: auto;
    margin-top: auto; 
    float: left;
    
    
}

.customtitle {
    font-size: 1.rem;
    
}

.custombody {
    font-size: 0.75rem;
    padding-top: 10px;
    
}

.innovative {
    height: 80px;
    width: 220px;
    margin-left: auto;
    margin-top: auto; 
    float: left;
    padding-left: 100px;
}


.innovativetitle {
    font-size: 1.rem;
}


.innovativebody {
    font-size: 0.75rem;
    padding-top: 10px;
}


.love {
    height: 80px;
    width: 220px;
    margin-left: auto;
    margin-top: auto; 
    float: left;
    padding-left: 100px;
}

.lovetitle {
    font-size: 1.rem;
}

.lovebody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.responsive {
    height: 80px;
    width: 220px;
    margin-left: auto;
    margin-top: auto; 
    float: left;
    padding-top: 30px;
    
}

.responsivetitle {
    font-size: 1.rem;
}

.responsivebody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.support {
    height: 80px;
    width: 220px;
    margin-left: auto;
    margin-top: auto; 
    float: left;
    padding-left: 100px;
    padding-top: 30px;
}

.supporttitle {
    font-size: 1.rem;
}

.supportbody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.feel {
    height: 80px;
    width: 220px;
    margin-left: auto;
    margin-top: auto; 
    float: left;
    padding-left: 100px;
    padding-top: 30px;
}

.feeltitle {
    font-size: 1.rem;
}

.feelbody {
    font-size: 0.75rem;
    padding-top: 10px;
}



.blackcontainer {
    height: 800px;
    background-color: #2d303a;
}

.portfolio {
    padding-top: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-top: auto;
}

.portfoliotitle {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #666d89; 
}

.portfoliobody {
    font-family: 'Lato', sans-serif;
    font-size: 0.85rem;
    color: #666d89; 
    padding-top: 10px;
}

.blackcontainer img {
    padding-top: 50px;
}






