@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

div {
   outline: 1px solid lime;
}

.header {
    background-color: #2D2F3B;
    color: white;
    height: 90px;
}

.nav {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: left;
    margin-top: 35px;
    font-size: 1.4rem;
    
}

.links {
    float: right;
    margin-top: 40px;
    font-size: 0.75rem;
    color: #4B4E61;
}

.links a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.links a:hover{
    color:#f06c64;
}

.salmon {
    color: #f06c64;
}

.banner {
    background-color: #f06c64;
    padding: 20px 0;
    text-align: center;
}

.active{
     color: #f06c64;
}

.banner img {
    max-width: 780px;
    width: 90%;
}

.whitebox {
    background-color: #f2f2f2;
    height: 400px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.whitebox img {
    
}

.services {
    height: 110px; 
    width: 700px;
    padding-top: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    
}

.servicestext {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    color: #666d89;
    font-style: bold;
    
}

.servicesbody {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    font-size: 0.9rem;
    color: #666d89;
}

.textcontainer {
    font-family: 'Lato', sans-serif;
    height: 200px; 
    color: #666d89;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
}

.custom {
    height: 80px;
    width: 220px;
}

.customtitle {
    font-size: 1.rem;
}

.custombody {
    font-size: 0.75rem;
    padding-top: 10px;
    
}

.innovative {
    height: 80px;
    width: 220px;
 
}


.innovativetitle {
    font-size: 1.rem;
}


.innovativebody {
    font-size: 0.75rem;
    padding-top: 10px;
}


.love {
    height: 80px;
    width: 220px;
}

.lovetitle {
    font-size: 1.rem;
}

.lovebody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.responsive {
    height: 80px;
    width: 220px; 
    padding-top: 30px;  
}

.responsivetitle {
    font-size: 1.rem;
}

.responsivebody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.support {
    height: 80px;
    width: 220px;
    padding-top: 30px;
}

.supporttitle {
    font-size: 1.rem;
}

.supportbody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.feel {
    height: 80px;
    width: 220px; 
    padding-top: 30px;
}

.feeltitle {
    font-size: 1.rem;
}

.feelbody {
    font-size: 0.75rem;
    padding-top: 10px;
}

.blackcontainer {
    height: 700px;
    background-color: #2d303a;
    margin-left: auto;
    margin-top: auto;
}

.portfolio {
    padding-top: 40px;
    padding-left: 40px;
}

.portfoliotitle {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #666d89; 
    padding-left: 10px;
}

.portfoliobody {
    font-family: 'Lato', sans-serif;
    font-size: 0.85rem;
    color: #666d89; 
    padding-top: 10px;
    padding-left: 10px;
}

.blackcontainer img {
    padding-top: 50px;
    max-width: 780px;
    margin-left: auto;
    margin-top: auto;
}

.container1 {
    float: left;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.container2 {
    float: left;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.container3 {
    float: left;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    
}

.textcontainer img {
    float: left;
    margin-right: auto;
    margin-left: auto;
}

.whitecontainer {
    height: 500px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-top: auto;
}

.textbox {
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.titlebox {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    color: #666d89;
    font-style: bold;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.textunderneath {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    font-size: 0.9rem;
    color: #666d89;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.imageperson1 {
    height: 400px;
}

.peopleboxes {
    font-family: 'Lato', sans-serif;
    height: 200px;
    width: 900px;
    color: #666d89;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.textunderneath img {

    padding-top: 30px;
    max-width: 920px;
}

.person1 {
    padding-top: 10px;
    width: 300px;
    float: left;
}

.person1title {
    font-size: 0.95rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
}

.person1body {
    font-size: 0.75rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}

.person1 img {
    padding-top: 15px;
}

.person2 {
    padding-top: 0px;
    width: 300px; 
    float: left;
}

.person2title {
    font-size: 0.95rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
}

.person2body {
    font-size: 0.75rem;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}